.artist-card {
  background: #e722e7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.artist-photo {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}
