@font-face {
    font-family: 'Cursed Timer';
    src: url('./CursedTimerUlil-Aznm.ttf') format('truetype');
}

body {
    margin: 0;
    text-align: center;
    font-style: cursed;
    color: white;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    padding: 10px; 
    font-family: 'Cursed Timer', sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    box-sizing: border-box; 
}

.container {
    display: flex;
    justify-content: space-around;
    background-color:#1B244A ;
    width: 575px;
    height: 385px;   
}

button {
    background: none;
    color: aliceblue;
    font-family: 'Cursed Timer', sans-serif;
}

.reset-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100px;
    height: 100px;

        
}

#reset {
    font-size: 16px; /* Optional: adjust the button size */
    padding: 10px 20px; /* Optional: add some spacing */
    background-color: #333; /* Example: dark background */
    color: white; /* Example: white text */
    border: none; /* Optional: remove default border */
    cursor: pointer; /* Change cursor to pointer */
  }